/* Write your code here. */
body {
  margin: 0px;
}
.backgroundBox {
  background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: white;
  font-family: Bree Serif;
}
.buttonstyle {
  display: flex;
  gap: 25px;
}
.btn1 {
  background-color: #eab308;
  border-radius: 20px;
  width: 60px;
  height: 30px;
  color: white;
  border-width: 0px;
}

.btn2 {
  background-color: #ffff;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  color: black;
  border-width: 0px;
}

.btn3 {
  background-color: #1d4ed8;
  border-radius: 20px;
  width: 60px;
  height: 30px;
  color: white;
  border-width: 0px;
}
